body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f8f8; /* Light gray background */
}

nav {
  background-color: #333;
  color: white;
  padding: 1rem 0;
  width: 100%;
}
h3 {
  text-align: center;
}
.navbar {
  display: flex;
  flex-direction: column; /* Stack the content vertically */
  align-items: center; /* Center horizontally */
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

.name {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.name h1 {
  margin: 0;
  font-size: 1.5rem;
}

.name p {
  margin: 0;
}
.navbar h1 {
  margin: 0;
  font-size: 1.5rem;
}

.navbar p {
  margin: 0;
}

.contact-info {
  margin-top: 10px;
  margin-left: 300px;
  margin-right: 300px;
}
.contact-info p {
  margin: 0 auto;
  text-align: center;
}

.con {
  margin-top: -10px;
}
button {
  background-color: #0077b5;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  margin: 1rem;
  display: block;
  margin: 0 auto;
}

.projects {
  display: none; /* Initially hide the projects section */
  padding: 2rem;
  text-align: center;
}
.project {
  border: 1px solid #ddd;
  padding: 1rem;
  margin-bottom: 1rem;
  background-color: white;
}

.project img {
  max-width: 100%;
  height: auto;
}

.contact {
  padding: 2rem;
  text-align: center;
}

.contact a {
  color: #0077b5;
  text-decoration: none;
}

a {
  color: #0077b5;
}
.contact a:hover {
  text-decoration: underline;
}
.profile-icon {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 10px;
  justify-content: center;
  text-align: center;
}
.project-card {
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
  transition: transform 0.2s, box-shadow 0.2s;
}

.project-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2), 0 3px 6px rgba(0, 0, 0, 0.2);
}

.project-card h2 {
  margin-top: 0;
}

.project-card h5 {
  font-size: 14px;
  color: #666;
  margin-top: 10px;
}

.project-card p {
  font-size: 16px;
  margin: 10px 0;
}

.project-links a {
  display: inline-block;
  margin-right: 10px;
  color: #333;
  text-decoration: none;
  font-weight: bold;
}

.project-links a:hover {
  color: #007bff;
}
