body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #aaaaaa51;
  margin-bottom: 100px;
  background-image: url("images/background.png");
}

.pic {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  margin-left: 15px;
}

img {
  width: 100px;
}

nav {
  background-color: #474845;
  color: white;
  padding: 1rem 0;
  width: 100%;
  padding: 30px;
}
h1 {
  color: #b4d4a7;
}

.title {
  font-size: 1.5rem;
}

h3 {
  text-align: center;
}

h5 {
  font-size: 20px;
}

.navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

.name {
  margin-top: 40px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.name p {
  margin: 0;
}
.navbar h1 {
  margin: 0;
  font-size: 3rem;
}

.navbar p {
  margin: 0;
}

.contact-info {
  margin-top: 50px;
  margin-left: 320px;
  margin-right: 300px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.738);
}
.contact-info p {
  margin: 0 auto;
  text-align: center;
}

.con {
  margin-top: -10px;
}

button {
  width: 130px;
  height: 50px;
  background-color: #6fa35a;
  color: white;
  font-size: 15px;
  padding: 2px;
  cursor: pointer;
  display: block;
  margin: 0 auto;
  border-radius: 5px;
  border: 1px solid #bbbbbb82;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.179), 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
}

.projects {
  display: none;
  padding: 2rem;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.454);
}

.project {
  border: 1px solid #ddd;
  padding: 1rem;
  margin-bottom: 1rem;
  background-color: rgb(255, 255, 255);
}

.project img {
  max-width: 100%;
  height: auto;
}

.emailimg {
  width: 35px;
}

.resimg {
  margin-bottom: 10px;
}
.contact {
  text-align: center;
  font-size: 13px;
}

.contact a {
  color: #0077b5;
  text-decoration: none;
}

a {
  color: #0077b5;
}

.contact a:hover {
  text-decoration: underline;
}
.profile-icon {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 10px;
  justify-content: center;
  text-align: center;
}
.project-card {
  background-color: #efefef;
  border: 1px solid #bbbbbb82;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.179), 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
  transition: transform 0.3s, box-shadow 0.3s;
}

.project-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2), 0 3px 6px rgba(0, 0, 0, 0.2);
}

.project-card h2 {
  margin-top: 0;
}

.project-card h5 {
  font-size: 14px;
  color: #666;
  margin-top: 10px;
}

.project-card p {
  font-size: 16px;
  margin: 10px 0;
}

.project-links a {
  display: inline-block;
  margin-right: 10px;
  color: #699956;
  text-decoration: none;
  font-weight: bold;
}

.project-links a:hover {
  color: #007bff;
}
